* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Noto Sans",Helvetica,"Helvetica Neue",Arial,sans-serif;
}

/* HEADER */
.small-header {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 20px;
  font-size: 0.5em;
}

.small-header a {
  text-decoration: none;
  color: #999;
}

.small-header a:hover {
  color: black;
}


/* CARDS */
main {
  background-color: #f2f2f2;
  padding: 20px 10px 20px 10px;
  display: grid;
}

@media(min-width: 700px){
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1000px){
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1250px){
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  margin: 10px;
}

.card>a {
  background: black;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
}

.card>a img {
  width: 100%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.card>a img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card>a img:hover+h2 {
  transform: translateY(140%);
}

article h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0 20px 3px 20px;
  font-weight: 400;
  transition: transform 0.5s ease;
  z-index: 1;
}

.card .details {
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
}


.card p,
.card .details {
  padding: 15px 20px;
  color: #999;
  font-size: 0.85rem;
}

.details .tags a {
  text-decoration: none;
  color: #999;
}

.details .tags a:hover {
  color: black;
}

.time, .tags {
  display: flex;
  align-items: center;
}

.rss svg,
.time svg,
.tags svg {
  width: 15px;
  height: 15px;
  fill: #999;
  margin-right: 5px;
}
