* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Noto Sans",Helvetica,"Helvetica Neue",Arial,sans-serif;
}

/* SMALL HEADER */
.small-header.index,
.small-header.tags,
.small-header.post {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 20px;
  font-size: 0.5em;
}

.small-header.index .main-title,
.small-header.tags .main-title {
  color: #999;
}

.small-header.post .main-title {
  color: #fff;
}

.small-header a {
  text-decoration: none;
}

.small-header a.main-title:hover {
  color: black;
}

/* BIG HEADER */
.big-header {
  position: relative;
}

.big-header img {
  filter:brightness(0.4);
  width: 100%;
  height: 600px;
}

.big-header .small-header.post {
  display:flex;
  justify-content: space-between;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.big-header .article-title {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.big-header .article-title .article-title-content {
  max-width: 600px;
  width: 100%;
}

.big-header .article-title .article-title-content .details {
  animation-delay: .25s;
}

.big-header .article-title .article-title-content .tags {
  animation-delay: .50s;
}

/* CARDS: index y tags */
main {
  background-color: #f2f2f2;
  padding: 20px 10px 20px 10px;
  display: grid;
}

@media(min-width: 700px){
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1000px){
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1250px){
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  margin: 10px;
}

.card>a {
  background: black;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
}

.card>a img {
  width: 100%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.card>a img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card>a img:hover+h2 {
  transform: translateY(140%);
}

article.card h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0 20px 3px 20px;
  font-weight: 400;
  transition: transform 0.5s ease;
  z-index: 1;
}

.card .details {
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
}


.card p,
.card .details {
  padding: 15px 20px;
  color: #999;
  font-size: 0.85rem;
}

.details .tags a {
  text-decoration: none;
  color: #999;
}

.details .tags a:hover {
  color: black;
}

.time, .tags {
  display: flex;
  align-items: center;
}

/* SVG ICONS */

.rss svg,
.time svg,
.tags svg {
  width: 15px;
  height: 15px;
  fill: #999;
  margin-right: 5px;
}
